/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
/** {
  margin: 0;
  padding: 0;
}*/

html, body { height: 100%; }

/*body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}
*/
/*h1, h2, h3, h4, h5, h6 {
  color:#000;
}*/

h1 a {color:#200;}
h1 a:hover {text-decoration:none;}

/*h1,h2 { margin-top: 1em;}*/

p { margin: 1em 0; }

/*a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #009; }*/

img {max-width:100%;}
#me {width:200px;}
/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
  padding-left:10px;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/



#wrapper {
  padding-left: 250px;
  padding-top:10px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  padding:15px;
  margin-left: -250px;
  left: 250px;
/*  width: 250px;*/
/*  background: #000;*/
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
/*  position: absolute;*/
/*  top: 0;*/
/*  width: 250px;*/
  list-style: none;
  padding-left:10px;
/*  margin: 0;
  padding: 0;*/
}


.sidebar-nav .icons {
    padding: 10px;
}

.sidebar-nav ul {
  list-style-type: none;
  text-align: left;
}

.sidebar-nav li {
  display:inline;
/*  line-height: 40px;*/
/*  text-indent: 20px;*/
}

.sidebar-nav li a {
  color: #999999;
/*  display: block;*/
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #000;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

#menu-toggle {
  display: none;
}

.inset {
  padding: 20px;
}


@media (max-width:767px) {

#wrapper {
  padding-left: 0;
}

#sidebar-wrapper {
  left: 0;
  background:#fff;
  border-right:1px solid #ddd;
}

#wrapper.active {
  position: relative;
/*  left: 250px;*/
}

#wrapper.active #sidebar-wrapper {
  left: 250px;
  width: 250px;
  transition: all 0.4s ease 0s;
}

#menu-toggle {
  display: inline-block;
  float:left;
  margin-right: 15px;
  padding: 6px 10px;
  margin-top: 3px;
  margin-bottom: 1px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 4px;
}
#menu-toggle:hover {
  background-color: #ddd;
  
}

/*.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}*/


.inset {
  padding: 15px;
}

}


/*.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}*/

/*.header a {
  font-weight: bold;
  text-decoration: none;
}*/

.title {
  display: inline-block;
/*  margin-bottom: 2em;*/
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

/*.header a.extra:hover {
  color: #000;
}*/

.meta {
  color: #aaa;
}

footer {
  font-size: 80%;
  color: #eee;
/*  border-top: 4px solid #eee;*/
/*  margin-top: 2em;*/
/*  overflow: hidden;*/
}


footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
/*.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}*/

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.cell {
    padding-left:0px;
}
.output{
  padding-left:30px;
}


pre {
     word-break:normal; 
     overflow:visible;
}

.python3 {
     word-break:normal; 
     overflow:visible;
}








/*
 * Mendez
 * Modified template from http://blacktie.co
 */

body {
  background: url(../img/header3.jpg) no-repeat center top;
  background-position: center top;
  background-size:100%;
  background-color: black;
    font-family: "Helvetica Neue", Helvetica, serif;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: #777;
}


/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

/* Links */
a {
/*    color: #f85c37;*/
/*    color: #FF8080;*/
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
    position: relative;
    display:inline-block;
/*    z-index: -1;*/
/*    background: url(../img/header3.jpg) no-repeat center top;*/
    margin-top: -200px;
    padding-top:20px;
    margin-bottom:-50px;
    text-align:center;
/*    background-attachment: relative;*/
/*    background-position: center center;*/
    min-height: 600px;
    width: 100%;
    
/*    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}
#headerwrap:after {
    clear:both;
}

#headerwrap h1 {
    margin-top: 150px;
    color: white;
    font-size: 70px;
    font-weight: 700;
}

#headerwrap h3 {
    color: white;
    font-size: 30px;
    font-weight: 100;
    font-family: 'EB Garamond', serif;
    font-style: oblique;
}

#headerwrap .logo {
    text-align: left;
    margin-left: 20px;
    margin-top: 15px;
}


/* Footer Wrap */

#f {
/*    background: rgba(0,0,0,0.1);*/
/*    padding-top:-400px;*/
/*    padding-top: 20px;*/
/*    padding-bottom: 20px;*/
    text-align: justify;
    text-justify: inter-word;
    
/*    text-align: center*/
}

#f .labelbox {
/*    display: block;*/
    background: rgba(255,255,255,0.5);
    padding-bottom:10px;
    color:black;
/*    margin-bottom: 10px;*/
/*    margin-right:10px;*/
/*    height: 0;*/
/*    padding-bottom: 25%;*/
/*    width: 25%;*/
}

#f h3 {
/*    display: inline-block;*/
/*    display: flex;*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    right: 0;*/
    float: left;
    display: inline-block;
    
    color: rgba(255,255,255,0.7);
/*    font-size: 24px;*/
/*    font-weight: 800;*/
/*    letter-spacing: 1px;*/
    text-transform: uppercase;
    text-align: center;
/*    padding: 5px;*/
/*    margin:5px;*/
    padding:12px;
/*    background:#888;*/
    background: rgba(255,255,255,0.55);
    margin-top:10px;
    margin-right:10px;
    margin-bottom:5px;
    width:50px;
    height:50px;
}

/*#f i {
    font-size: 8px;
    color: #fff;
    padding: 3px;
}*/

#f p {
    font-size: 13pt;
    color: black;
}

#f img {
    text-align: center;
}



.ghost-center {
  position: relative;
}
.ghost-center::before {
  content: " ";
  display: inline-block;
  height: 100%;
  width: 1%;
  vertical-align: middle;
}
.ghost-center p {
  display: inline-block;
  vertical-align: middle;
}







/* MENU CONF*/

.menu {
    position: fixed;
    left: 20px;
    width: 200px;
    height: 100%;
    top: 0;
    z-index: 10;
    text-align: left;
}

.menu.menu-open {
    left: 210px;
}

.menu-wrap {
    position: absolute;
    top: 0;
    left: -220px;
    background: rgba(0,0,0,0.9);
    width: 200px;
    height: 100%;
/*    border-right: 2px solid rgba(255,255,255,0.5);*/
}

.menu h1.logo a {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.15em;
    line-height: 40px;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 20px;
}

.menu h1.logo a:hover {
/*    color: #f85c37;*/
    color: #7b7b7b;
}

.menu img.logo {
    margin: 20px 0;
    max-width: 160px;
}

.menu #self {
    width: 85%;
    margin-left:20px;
    margin-right:10px;
    margin-bottom: 20px;
}


.menu a {
    margin-left: 20px;
    color: #808080;
    display: block;
    font-size: 12px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.menu a:hover {
    color: #ffffff;
}

.menu a:active {
    color: #ffffff;
}

.menu a > i {
    float: left;
    display: inline-block;
    vertical-align: middle; 
    text-align: left;
    width: 25px;
    font-size: 14px;
    line-height: 40px;
/*    margin: 15px 2px;*/
}

.menu-close {
    cursor: pointer;
    display: block;
    position: absolute;
    font-size: 14px;
    color: #808080;
    width: 40px;
    height: 40px;
    line-height: 40px;
    top: 20px;
    right: 5px;
    -webkit-transition: all .1s ease-in-out;
       -moz-transition: all .1s ease-in-out;
        -ms-transition: all .1s ease-in-out;
         -o-transition: all .1s ease-in-out;
            transition: all .1s ease-in-out;
}

.menu-close:hover {
    color: #ffffff;
    -webkit-transition: all .1s ease-in-out;
       -moz-transition: all .1s ease-in-out;
        -ms-transition: all .1s ease-in-out;
         -o-transition: all .1s ease-in-out;
            transition: all .1s ease-in-out;
}

/* Push the body after clicking the menu button */
.body-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
}

.body-push-toright {
    left: 200px;
}

.body-push-toleft {
    left: -200px;
}

.menu,
.body-push {
    -webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease;
}

#menuToggle {
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 11;
    display: block;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    background: #222;
    -webkit-transition: all .1s ease-in-out;
       -moz-transition: all .1s ease-in-out;
        -ms-transition: all .1s ease-in-out;
         -o-transition: all .1s ease-in-out;
            transition: all .1s ease-in-out;
}

#menuToggle:hover {
    color: #ffffff;
    background: #777;
    -webkit-transition: all .1s ease-in-out;
       -moz-transition: all .1s ease-in-out;
        -ms-transition: all .1s ease-in-out;
         -o-transition: all .1s ease-in-out;
            transition: all .1s ease-in-out;
}

.rotate {
    writing-mode: tb-rl;
    white-space: nowrap;
    display: inline-block;
    overflow: visible;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: -100% 0%;
    -moz-transform-origin:    -100% 0%;
    -ms-transform-origin:     -100% 0%;
    -o-transform-origin:      -100% 0%;
    transform-origin:         -100% 0%;
    
/*    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);*/

    /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
/*    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
*/
    /* Should be unset in IE9+ I think. */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }
}

.contact {
/*    display: block;*/
    font-size: 13pt;
/*    color: #f2f2f2;*/
}

.contact ul {
    list-style-type: none;
    display: inline-block;
    margin-left: -35px;
    margin-top: 5px;
/*    text-align: right;*/
/*    width: 100px;*/
}

.contact ul li {
/*    display: inline;*/
/*    padding-left: 20px;*/
}

.contact ul li a {
    display: inline-block;
/*    width: 150px;*/
    font-size: 13pt;
/*    width: 1em;*/
/*    height: 100px;*/
}


.portrait {
    margin: 12px 0px 0px 12px;
    width: 200px;
}

.leftimg {
    margin: 6px 12px 0px 0px;
    width: 200px;
}

.rightimg {
    margin: 12px 0px 0px 12px;
    width: 200px;
}

.masterTooltip {
    text-decoration: none;
    color: rgba(0,0,0,0.5);
    -webkit-transition: all .1s ease-in-out;
       -moz-transition: all .1s ease-in-out;
        -ms-transition: all .1s ease-in-out;
         -o-transition: all .1s ease-in-out;
            transition: all .1s ease-in-out;
}

.tooltip {
	display:none;
	position:absolute;
	border:1px solid #333;
	background-color:#161616;
	border-radius:5px;
	padding:10px;
	color:#fff;
	font-size:12px Arial;
}



.pagecontent {
    background-color:rgba(255,255,255,0.9);
    border-radius: 10px;
    color:black;
}

