/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
/** {
  margin: 0;
  padding: 0;
}*/

html, body { height: 100%; }

/*body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}
*/
/*h1, h2, h3, h4, h5, h6 {
  color:#000;
}*/

h1 a {color:#200;}
h1 a:hover {text-decoration:none;}

/*h1,h2 { margin-top: 1em;}*/

p { margin: 1em 0; }

/*a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #009; }*/

img {max-width:100%;}
#me {width:200px;}
/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/



#wrapper {
  padding-left: 250px;
  padding-top:10px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  padding:15px;
  margin-left: -250px;
  left: 250px;
/*  width: 250px;*/
/*  background: #000;*/
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
/*  position: absolute;*/
/*  top: 0;*/
/*  width: 250px;*/
  list-style: none;
/*  margin: 0;
  padding: 0;*/
}

.sidebar-nav ul {
  list-style-type: none;
  text-align: left;
}

.sidebar-nav li {
  display:inline;
/*  line-height: 40px;*/
/*  text-indent: 20px;*/
}

.sidebar-nav li a {
  color: #999999;
/*  display: block;*/
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #000;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

#menu-toggle {
  display: none;
}

.inset {
  padding: 20px;
}


@media (max-width:767px) {

#wrapper {
  padding-left: 0;
}

#sidebar-wrapper {
  left: 0;
  background:#fff;
  border-right:1px solid #ddd;
}

#wrapper.active {
  position: relative;
/*  left: 250px;*/
}

#wrapper.active #sidebar-wrapper {
  left: 250px;
  width: 250px;
  transition: all 0.4s ease 0s;
}

#menu-toggle {
  display: inline-block;
  float:left;
  margin-right: 15px;
  padding: 6px 10px;
  margin-top: 3px;
  margin-bottom: 1px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 4px;
}
#menu-toggle:hover {
  background-color: #ddd;
  
}

/*.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}*/


.inset {
  padding: 15px;
}

}


/*.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}*/

/*.header a {
  font-weight: bold;
  text-decoration: none;
}*/

.title {
  display: inline-block;
/*  margin-bottom: 2em;*/
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

/*.header a.extra:hover {
  color: #000;
}*/

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}


.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
/*.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}*/

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.cell {
    padding-left:0px;
}
.output{
  padding-left:30px;
}


pre {
     word-break:normal; 
     overflow:visible;
}

.python3 {
     word-break:normal; 
     overflow:visible;
}
