body { margin:0; padding:0;}
/* zoom:75%;*/
#map { position:absolute; top:0; bottom:0; width:100%; }
/*#map2 { position:absolute; top:0; bottom:0; width:50%; left:50%;}*/

#locationbox {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
/*    background: white;*/
/*    background: rgba(255,255,255,0.8);*/
/*    box-shadow: 0 0 15px rgba(0,0,0,0.2);*/
    border-radius: 10px;
}

.leaflet-container {
    background-color: black;
}