/* ==== Google font ==== */
@import url('//fonts.googleapis.com/css?family=Roboto+Condensed:100,700');
@import url('//fonts.googleapis.com/css?family=Roboto:100,400');
@import url('//fonts.googleapis.com/css?family=Ek+Mukta:100,400');

*{
    padding:0;
    margin:0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    background-color: #000;
    font-size: 16px;
    line-height: 1.6em;
/*    overflow-x: hidden;*/
    
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

p {
    margin: 0 0 20px;
}

a {
    color: #1a8cff;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover, a:focus {
    text-decoration: none;
}

hr {
  margin-top: 10px;
}






/* NAV */

#navigation {
    z-index: 9999;
    width:100%;
}

.navbar {
    margin-bottom: 0;
    border:0px solid;
    border-color: white;
    background-color: black;
    border-radius: 0px;
    border-bottom:1px solid;
}

.navbar-brand {
    font-weight: 400;
    font-size: 20px;
}

.nav.navbar-nav {
    float:right;
}

.nav.navbar-nav>li>a {
    color: #1a8cff;
}

.nav.navbar-nav>li>a:hover {
    color:#b3d9ff;
}










/* Movie */

.hero {
    background: url(../img/hero-bg2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover; 
    display:flex;
    align-items: center;
    justify-content: center;
}

#youtube {
    display: inline-block; 
    width:150px;
}

#title { 
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 40px; 
    color: #fefefe;
    padding: 40px 0 40px 0;
    margin: 0;
}

#subtitle {
    font-family: 'Roboto+Condensed', sans-serif;
    font-weight: 100;
    font-size: 16px; 
    margin: 0;
}


#particles {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
}

.particles-canvas {
    height: 100%;
    width:100%;
  display: block;
  vertical-align: bottom;
}









/* CAROUSAL */





.wrapper {
    width: 100%;
    height: auto !important;
    white-space:nowrap;
    background-color:black;
    z-index: 9999;
}

.post{
    display:inline-block;
    vertical-align: top;
     white-space:normal;
    height: 100vh;
    min-width:100%;
    padding:20px;
    color:white;
}

.post-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); /* IE 9 */
   	-webkit-transform: translate(-50%, -50%); /* Safari */
    text-align: center;
    width:100%;
}
@media screen and (min-width: 1300px) {
    .post-container {
        width:1300px;
    }
}


.post-first {
/*    background: url('../img/frames/frame_01.png') no-repeat center center;
    background-size:cover;*/
}

.post-second {
/*    background: url('../img/frames/frame_02.png') no-repeat center center;*/
/*    background-size:cover;*/
}


.image-wrapper {
	position: relative;
	/*padding-bottom: 56.25%;*/ /* 16:9 */
    padding-bottom: 79.82%;
/*    padding-top: 25px;*/
/*    height: 0;*/
    height: 0.9vh;
/*    max-height: 100%;*/
    
}
.image-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
/*    width: 100%;*/
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
/*    height: 100%;*/
}

.image-caption {
    position: absolute;
    bottom: 100px;
    right:30px;
/*    text-align: center;*/
    text-align: justify;
    background-color:rgba(0,0,0,0.5);
    border-radius:10px;
    width:400px;
}
.image-caption > p {
/*    padding: 5px;*/
    margin: 5px;
}

.tagline {
    position: absolute;
    bottom:0px;
    right:0px;
    opacity:0.5;
}
.tagline > p {
/*    padding: 0;*/
    padding-bottom: 50px;
    padding-right: 40px;
    margin: 0;
}



















.post > .title {
    font-family: 'Ek+Mukta', sans-serif;
    font-weight: 400;
    font-size: 16px; 
    float: right;
}

.post > .img {
    text-align: center;
    width:90%;
    height:90%;
    max-height: 100%;
    margin: 0 auto;
    padding-bottom:50px;
    
}

.post > .img > img {
    max-width: 100%;
    max-height:100%;
}

.post > .img > .text {
    margin-left: 100px;
    margin-right: 100px;
    padding: 0;
    margin: 0;
}



.owl-carousel {
    display:block;
    min-width: 100%;
    min-height:100%;
    height: 100vh;
}

.owl-nav {
        padding:30px;
}

.owl-prev  {
    position: absolute;
    left: 0px;
    bottom: 0px;
/*    padding: 30px;*/
}
.owl-next {
    position: absolute;
    right: 0px;
    bottom: 0px;
/*    padding: 30px;*/
}
.owl-dots {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    padding:30px;
}


#links {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:rgba(128,128,128,0.2);
    z-index: 9999;
}
.link-info {
    color:white;
    text-align: center;
}
.link-info > p {
    padding:10px;
}

.link-info > .link-hide {
    display: none;
}
.link-expand > ul {
    text-align:left;
    padding: 20px;
    list-style-type: square;
}

