/* ==== Google font ==== */
@import url('//fonts.googleapis.com/css?family=Roboto:400,300,700,900');
@import url('//fonts.googleapis.com/css?family=Ek+Mukta:400,600,700');
*{
	padding:0;
	margin:0;
}


body {
    width: 100%;
    height: 100%;
    font-family: 'Ek Mukta', sans-serif;
	font-weight: 300;
/*    color: #666;*/
    background-color: #000;
	font-size: 16px;
    line-height: 1.6em;
	font-weight: 400;
	overflow-x: hidden;
}

html {
    width: 100%;
    height: 100%;
}

h1 {
	font-size: 38px;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 32px;
}
h4 {
	font-size: 28px;
}
h5 {
	font-size: 24px;
}
h6 {
	font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
	color: #111;
}

h1.h-xlight,h2.h-xlight,h3.h-xlight ,h4.h-xlight ,h5.h-xlight ,h6.h-xlight  {
	font-weight: 200;
}

h1.h-light,h2.h-light,h3.h-light ,h4.h-light ,h5.h-light ,h6.h-light  {
	font-weight: 300;
}

h1.h-bold,h2.h-bold,h3.h-bold ,h4.h-bold ,h5.h-bold ,h6.h-bold  {
	font-weight: 600;
}

h1.font-light,h2.font-light,h3.font-light,h4.font-light,h5.font-light,h6.font-light {
	color: #fff;
}

.big-heading {
	font-size: 48px;
	font-weight: 700;
}

p {
    margin: 0 0 20px;

}

p.lead {
	font-weight: 600;
}

.highlight-light {
	background-color: rgba(255,255,255,.5);
	padding: 20px;
	display: inline-block;
	color: #111;
}

.highlight-dark {
	background-color: rgba(0,0,0,.5);
	padding: 20px;
	display: inline-block;
	color: #fff;
}

.highlight-color {
	padding: 20px;
	display: inline-block;
}

a {
    color: #666;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 24px;
	line-height: 1.5em;
  font-weight: 300;
  color: #999;
}

blockquote.bg-light {
	background-color: rgba(255,255,255,.8);
	padding: 20px;
	color: #222;
}

blockquote.bg-dark {
	background-color: rgba(0,0,0,.8);
	padding: 20px;
}

blockquote strong {
  font-weight: 700;
}




.light {
    font-weight: 400;
}

/* --- logo --- */
.site-logo {
	margin-top: 10px;
}
.site-logo a.brand {
	color: #111;
	text-transform: uppercase;
	font-size: 32px;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	margin-top: 20px;
}









/* ------- Navigation ------------ */
#navigation {
/*    background: #fff;*/
/*    background: rgba(0,0,0,0.9);*/
    z-index: 9999;
    
    width:100%;
/*    box-sizing:border-box;*/
/*    border-bottom: 1px solid #eee;*/
/*    box-shadow:0px 0px 20px rgba(0, 0, 0, 0.1);*/
}


.navbar {
    margin-bottom: 0;
    border-color: none;
    background-color: rgba(0,0,0,0.5);
    border-radius: 0px;
}

.navbar-default{
	border: none;
}

.navbar-brand {
    font-weight: 700;
}


.navbar-brand:focus {
    outline: 0;
}

.nav.navbar-nav {
    float:right;
}

.navbar-default .navbar-nav>li>a:hover {
    color:#b3d9ff;
}


.navbar-custom.top-nav-collapse .nav.navbar-nav {
    /*background-color: rgba(0,0,0,0);*/
}


.navbar-custom ul.nav li a {
	font-size: 12px;
	letter-spacing: 1px;
    color: #fff;
	text-transform: uppercase;
	font-weight: 700;
}

.navbar-custom.top-nav-collapse ul.nav li a {
	    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
/*    color: #fff;*/
}

.navbar-custom ul.nav ul.dropdown-menu {
	  border-radius: 0;	
	margin-top: 21px;
	border-top: none;
}

.navbar-custom ul.nav li a:hover ul.dropdown-menu {
	    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}


.navbar-custom ul.nav ul.dropdown-menu li {
/*    border-bottom: 1px solid #f5f5f5;*/

}

.navbar-custom ul.nav ul.dropdown-menu li:last-child{
	border-bottom: none;
}

.navbar-custom ul.nav ul.dropdown-menu li a {
	padding: 10px 20px;
}

.navbar-custom ul.nav ul.dropdown-menu li a:hover {
	background: #fefefe;
}

.navbar-custom.top-nav-collapse ul.nav ul.dropdown-menu li a {
	color: #666;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    background-color: rgba(255,255,255,.2);
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    background-color: rgba(255,255,255,.2);
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 14px;
    color: #fff;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}


/* misc */
hr {
  margin-top: 10px;
}

hr.bold {
  border-top: 3px solid #eee;
}

.divider-header {
	display: block;
	width: 40px;
	height: 2px;
	margin: 0 auto;
	margin-bottom: 10px;
}

.divider-short {
	display: block;
	width: 60px;
	height: 5px;
	margin: 0 auto;
	margin-bottom: 10px;
}

/* margins */
.marginbot-0{margin-bottom:0 !important;}
.marginbot-10{margin-bottom:10px !important;}
.marginbot-20{margin-bottom:20px !important;}
.marginbot-30{margin-bottom:30px !important;}
.marginbot-40{margin-bottom:40px !important;}
.marginbot-50{margin-bottom:50px !important;}
.marginbot-60{margin-bottom:60px !important;}
.marginbot-70{margin-bottom:70px !important;}
.marginbot-80{margin-bottom:80px !important;}
.marginbot-90{margin-bottom:90px !important;}
.marginbot-100{margin-bottom:100px !important;}

.margintop-0{margin-top:0 !important;}
.margintop-10{margin-top:10px !important;}
.margintop-20{margin-top:20px !important;}
.margintop-30{margin-top:30px !important;}
.margintop-40{margin-top:40px !important;}
.margintop-45{margin-top:45px !important;}
.margintop-50{margin-top:50px !important;}

/* ===========================
--- General sections
============================ */

.home-section {
/*    padding-top: 150px;*/
    padding-top:20px;
    padding-bottom: 110px;
	display:block;
    position:relative;
    z-index:120;
}

.inner-section {
    padding-top: 110px;
    padding-bottom: 110px;
}


.home-section.nopadd-bot {
    padding-bottom: 0;
}


.section-heading h2 {
	font-size: 24px;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.section-heading p {
	font-weight: 300;
	font-size: 20px;
	line-height: 1.6em;
}

.color-dark .section-heading h2 {
	color: #111;
}
.color-dark .section-heading p {
	color: #444;
}

.color-dark .divider-short {
	background: #666;
}
.color-dark .divider-header {
	background: #666;
}

.color-light .divider-short {
	background: #666;
}
.color-light .divider-header {
	background: #666;
}


.color-light .section-heading h2 {
	color: #fff;
}
.color-light .section-heading p {
	color: #fefefe;
}

.color-light blockquote,.color-light p {
	color: #fefefe;
}

/* --- section bg var --- */

.bg-white {
	background: #fff;
}

.bg-gray {
	background: #f9f9f9;
}


.bg-dark {
	background: #404040;
}

/* --- section color var --- */

.text-light {
	color: #fff;
}



/* ===========================
--- Intro
============================ */


#youtube {
    width:100px;
    padding-top:60%;
}


.vertical-center {
}




.hero {
    background: url(../img/hero-bg2.jpg) no-repeat center center; 
    -webkit-background-size: cover; -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover; 
/*    padding: 200px 0 200px 0;*/
    
    height: auto;
}
.hero h1 { 
	text-transform: uppercase;
	font-weight: 700;
	font-weight: 300;
	font-size: 100px;
	font-family: 'Roboto Condensed', sans-serif;
}
    
.hero .overlay {
    background: url(../img/hero-overlay.jpg) no-repeat center center;
    -webkit-background-size: cover; -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover; 
    height:100%;
    z-index: 10000;
}
    
/*    font-size: 40px; letter-spacing: 12px; margin: 40px 0 10px; font-weight: 900; color: #fff;
*/}
.hero h1 span { color: #a1a9b0; display: inline-block; }
.hero p { font-size: 24px; font-weight: 400; color: #fefefe; }











.intro {
	width:100%;
	position:relative;
	padding:0;
}
.intro-inner {
	width:100%;
	position:relative;
	padding:120px 0 20px;
}

.brand-heading {
    font-size: 40px;
}

.intro-text {
    font-size: 18px;
}


/* Carousel Styles */

.carousel-inner img {
    width: 100%;
    max-height: 650px;
}

.carousel-control {
    width: 0;
}

.carousel-control.left,
.carousel-control.right {
	opacity: 1;
	filter: alpha(opacity=100);
	background-image: none;
	background-repeat: no-repeat;
	text-shadow: none;
}

.carousel-control.left span {
	padding: 0;
}

.carousel-control.right span {
	padding: 0;
}

.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right, 
.carousel-control .icon-prev, 
.carousel-control .icon-next {
	position: absolute;
	top: 45%;
	z-index: 5;
	display: inline-block;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
	left: 30px;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
	right: 30px;
}



.carousel-control.left span:hover,
.carousel-control.right span:hover {
	opacity: .7;
	filter: alpha(opacity=70);
}

.carousel-inner > .item {
  margin-left:0;
  margin-top:0;
  margin-bottom:0;
  padding-left: 0;
  width: 100%;
  height: auto;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left:0;
  padding-left: 0;
}


/* Carousel Header Styles */
.header-text {
    position: absolute;
    top: 20%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #fff;
}

.header-text h2 {
    font-size: 40px;
}

.header-text h2 span {
	padding: 10px;
	color: #fff;
	text-transform: uppercase;
}

.header-text h3 span {
	color: #fff;
}



.btn-min-block {
    min-width: 170px;
    line-height: 26px;
}

.btn-theme {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    margin-right: 15px;
}

.btn-theme:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}

/* ===========================
--- About
============================ */


.about p{
    margin-bottom: 0px;
    margin-top:10px;
    text-align: justify;
    text-justify: inter-word;
}

.about > p {
    padding-bottom: 20px;
}
@media screen and (max-width: 481px) {
    .about > p {
        padding-left: 10px;
        padding-right: 10px;
    }
    .support-content > p {
        padding-left: 10px;
        padding-right: 10px;
    }
/*    #astronomers  > div > p {
        padding-left: 10px;
        padding-right: 10px;
    }*/
}



/*.about h3 {
    clear:right;
}*/


.about-content {
    padding-top:20px;
}

.about-content li:before{
        content: "\e080";
        font-family: 'Glyphicons Halflings';
/*        font-size: 9px;*/
        position: relative;
        margin-right: 10px;
        top: 3px;
        color: #ccc;
}




.about-img-right {
    padding-right:0px;
}
.about-img-left {
    padding-right:10px;
    padding-left:0px;
    margin: 0 auto;
/*    margin-right:10px;*/
}

.about-img {
    width:100%;
/*    margin:0 auto;*/
}


#about-stars {
    display:inline-block;
    border-left: 20px solid transparent;
    border-width: 0 0 0 20px;
    border-image: url("../img/about/border_stars.png") 0 0 0 100% stretch;
    padding: 0 10px 50px 10px;
}

#about-galaxies {
    display:inline-block;
    border-left: 20px solid transparent;
    border-width: 0 0 0 20px;
    border-image: url(../img/about/border_galaxies.png) 0 0 0 100% stretch;
    padding: 0 10px 50px 10px;
}

#about-quasars {
    display:inline-block;
    border-left: 20px solid transparent;
    border-width: 0 0 0 20px;
    border-image: url(../img/about/border_quasars.png) 0 0 0 100% stretch;
    padding: 0 0 50px 10px;
}

#about-dark {
    display:inline-block;
    border-left: 20px solid transparent;
    border-width: 0 0 0 20px;
    border-image: url(../img/about/border_dark.png) 0 0 0 100% stretch;
    padding: 0 0 50px 10px;
}

#about-cmb {
    display:inline-block;
    border-left: 20px solid transparent;
    border-width: 0 0 0 20px;
    border-image: url(../img/about/border_cmb.png) 0 0 0 100% stretch;
    padding: 0 0 50px 10px;
}


/* ===========================
--- support
============================ */

.support-content {
    padding: 0 20px 0 20px;
}

.support-content p {
    text-align: justify;
    text-justify: inter-word;
}


.service-box {
	background: #fff;
	border-bottom: 2px solid #f7f7f7;
	padding: 40px 20px;
}

.service-box:hover {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
	margin-top: -20px;
}

.service-icon {
	margin-bottom: 20px;
}	

.service-desc h5 {
	text-transform: uppercase;
	font-weight: 700;
	color: #666;
	font-size: 18px;
	margin-bottom: 10px;
}
.service-desc .divider-header {
	margin-bottom: 30px;
}

/* ===========================
--- Works
============================ */

.astronomers-title {
    background-color:black;
    color:white;
    padding: 10px;
    border-radius: 10px;
}

.astronomers-title button {
    left:50%;
    transform: translateX(-50%);
}

.astronomers-title .download {
    width:100%;
}

img.title-img {
    max-width:70%;
    max-height:70%;
}


/* ===========================
--- Contact
============================ */


.form-group {
  margin-bottom: 20px;
}

form#contact-form .form-group label {
	text-align: left !important;
	display: block;
	text-transform: uppercase;
	font-size: 16px;
}
form#contact-form input,form#contact-form select,form#contact-form textarea {
	font-size: 14px;
	line-height: 1.6em;
	border: 1px solid #eee;
  -webkit-box-shadow: none;
          box-shadow:  none;
	border-radius: 2px;
}

.btn-lg,
.btn-group-lg > .btn {
  border-radius: 2px;
}

form#contact-form input:focus,form#contact-form select:focus,form#contact-form textarea:focus {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}
.input-group-addon {
  background-color: #fefefe;
  border: 1px solid #eee;
}

.widget-contact {
	text-align: left;
}



/* ===========================
--- Bottom
============================ */

.boxcol-25 {
	width: 100%;
}

.box-social {
	list-style: none;
}

.box-social li {
	width: 25%;
	float: left;
}


.box-social .social-facebook a { 
	display: block;
	background: #3873ae;
}


/* ==== Sidebar ==== */
.sidebar .widget h5 {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.sidebar .widget {
	margin-bottom: 50px;
}

.widget ul {
	list-style: none;
	margin-left:0;
	padding-left:0;
}
.sidebar .widget ul li {
	margin-left:0;
	padding-left:0;
	margin-bottom: 10px;
}
.sidebar .widget ul li a {
	color: #666;
}


.widget.widget_categories ul li:before {
	display: inline-block;
	font-family: 'Pe-icon-7-stroke';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\e684";
	margin-right: 10px;
}


.widget.widget_recent_post ul li figure {
	float: left;
	margin: 0 20px 0 0;
}

.widget.widget_recent_post ul li {
	margin-bottom: 25px;
}

.widget.widget_recent_post ul li:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.widget.widget_recent_post ul li h6 {
	margin-bottom: 10px;
}
.widget.widget_recent_post ul li span {
	font-size: 14px;
}

.widget .tagcloud a {
	padding: 4px 10px;
	color: #fff;
	display:inline-block;
	margin: 0 10px 10px 0;
	font-size: 14px;
	border-radius: 2px;
}

.widget .tagcloud a:hover {
	color: #fff;
	background: #333;
}

/* --- widget --- */

form.search-form input {
	font-size: 18px;
	line-height: 1.6em;
	border: 1px solid #eee;
  -webkit-box-shadow: none;
          box-shadow:  none;
	border-radius: 2px;
}

form.search-form input:focus {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}



/* ===========================
--- Footer
============================ */

footer {
/*    background-color: #404040;*/
    background: url(../img/footer.jpg) no-repeat center center;
    -webkit-background-size: cover; -moz-background-size: cover;
    -o-background-size: cover; background-size: cover; padding: 200px 0 200px 0; 
}

footer {
	text-align: center;
	padding: 50px 0 30px ;
	
}

footer p {
	color: #f8f8f8;
	font-size: 14px;
}

footer a.totop {
	color: #fff;
	margin-bottom: 30px;
}
footer a.totop:focus {
	outline: 0;
}



/* menu */
ul.footer-menu {
	list-style: none;
}

ul.footer-menu li {
	float: left;
	margin: 0 0 0 10px;

}

ul.footer-menu li a {
	color: #fff;
	font-size: 16px;
	padding-left: 9px;
	line-height: 1.1em;
}

ul.footer-menu li:first-child a {
	border-left: none;
	padding-left: 0;
}

.social-widget {
	margin-top: 20px;
	margin-bottom: 30px;
}
.social-widget ul li a:hover {
	color: #fff;
}

footer .social-widget ul.team-social li a {
	margin: 0 5px;
}

/* === testimonial slide === */
.testimonialslide {
	margin-top:0;
	padding-top: 0;
}

.testimonialslide ul li blockquote {
	color: #fff;
	border-left: none;
}

.testimonialslide ul li h4 {
	color: #fff;
	font-weight: 900;
}
.testimonialslide ul li h4 span {
	color: #fff;
	font-weight: 400;
}


/* --- button --- */
.btn {
	border-radius: 2px;
	position: relative;
	display: inline-block;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;	
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 14px;
}

.btn.btn-noradius {
	border-radius: 0;
}

a.btn:focus{
	outline: 0;
}

.btn-red {
  color: #fff;
  background-color: #c83539;
  border-color: #c83539;
}
.btn-red:hover,
.btn-red:focus,
.btn-red:active,
.btn-red.active {
  color: #fff;
  background-color: #666;
  border-color: #666;
}
.btn-red:active {
  background-image: none;
}


.btn-skin:hover,
.btn-skin:focus,
.btn-skin:active,
.btn-skin.active {
  color: #fff;
  background-color: #666;
  border-color: #666;
}


.btn-default:hover,
.btn-default:focus {
    border: 1px solid #28c3ab;
    outline: 0;
    color: #000;
    background-color: #28c3ab;
}

.btn-huge {
    padding: 25px;
    font-size: 26px;
}

.banner-social-buttons {
    margin-top: 0;
}

/* --- progress --- */
.progress {
  height: 40px;

}
.progress-bar {
  font-size: 14px;
  line-height: 40px;
}

/* Media queries */

/*MOVED FOR NOW*/