/* ==== Google font ==== */
@import url('//fonts.googleapis.com/css?family=Roboto+Condensed:100,700');
@import url('//fonts.googleapis.com/css?family=Roboto:100,400');
@import url('//fonts.googleapis.com/css?family=Ek+Mukta:100,400');

*{
    padding:0;
    margin:0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    background-color: #000;
/*    background-color: DimGray;*/
    font-size: 16px;
    line-height: 1.6em;
/*    overflow-x: hidden;*/
    
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

p {
    margin: 0 0 20px;
}

a {
    color: #1a8cff;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover, a:focus {
    text-decoration: none;
}

hr {
  margin-top: 10px;
}


@keyframes fadeIn { 
    10%   { opacity:0; }
    90%  { opacity:1; }
    100% { opacity:0; } 
}
@keyframes fadeIn2 { 
    30%   { opacity:0; }
    90%  { opacity:1; }
    100% { opacity:0; } 
}
@keyframes fadeIn3 { 
    60%   { opacity:0; }
    90%  { opacity:1; }
    100% { opacity:0; } 
}
.excite {
    color: white;
    position: absolute;
    opacity: 0;
}

.excite1 {
    right: 30%;
    top: 10%;
    -webkit-animation: fadeIn 9s infinite;
    -moz-animation: fadeIn 9s infinite;
    -o-animation: fadeIn 9s infinite;
    animation: fadeIn 9s infinite;
}


.excite2 {
    right: 20%;
    top: 20%;
    -webkit-animation: fadeIn2 10s infinite;
    -moz-animation: fadeIn2 10s infinite;
    -o-animation: fadeIn2 10s infinite;
    animation: fadeIn2 10s infinite;
}

.excite3 {
    right: 10%;
    top: 30%;
    -webkit-animation: fadeIn3 13s infinite;
    -moz-animation: fadeIn3 13s infinite;
    -o-animation: fadeIn3 13s infinite;
    animation: fadeIn3 13s infinite;
}



/* NAV */

#navigation {
    z-index: 9999;
    width:100%;
}

.navbar {
    margin-top:-50px;
    margin-bottom: 0;
    border:0px solid;
    border-color: white;
    background-color: rgba(0,0,0,0.65);
    border-radius: 0px;
    border-bottom:0px solid black;
}

.navbar-brand {
    font-weight: 400;
    font-size: 20px;
}

.nav.navbar-nav {
    float:right;
}

.nav.navbar-nav>li>a {
    color: #1a8cff;
}

.nav.navbar-nav>li>a:hover {
    color:#b3d9ff;
    background-color: DimGrey;
}


.navbar-toggle {
    border: 1px solid #1a8cff;
    margin-top: 4px;
}

.navbar-toggle > i {
    color: #1a8cff;
    height: 16px;
    width: 16px;
}


footer{
    height:200px;
}





/* Movie */


#intro {
    height:100%;
/*    height: calc(100% - 50px);*/
/*    height: -o-calc(100% - 50px); /* opera */*/
/*    height: -webkit-calc(100% - 50px); /* google, safari */*/
/*    height: -moz-calc(100% - 50px); /* firefox */*/
}

.hero {
/*    background: url(../img/hero-bg2.jpg) no-repeat center center ;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
/*    background-color: transparent;*/
    width:100%;
    display:table;
/*      z-index:-1;*/
}
.hero-align {
    display: table-cell;
    vertical-align:middle;
}
.hero-content {
    display: inline-block;
    width: 100%;
}

#youtube {
    display: inline-block; 
    width:150px;
    position:relative;
    z-index:9999;
    
}

#title { 
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 40px; 
    color: #fefefe;
    padding: 40px 0 40px 0;
    margin: 0;
}

#subtitle {
    font-family: 'Roboto+Condensed', sans-serif;
    font-weight: 100;
    font-size: 16px; 
    margin: 0;
    color:white;
}


#particles {
/*  position: fixed;*/
    position:absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
/*  -webkit-transform:translateZ(-1px);
  -moz-transform:translateZ(-1px);
  -o-transform:translateZ(-1px);
  transform:translateZ(-1px);
  z-index:-1;*/
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.particles-canvas {
    height: 100%;
    width:100%;
  display: block;
  vertical-align: bottom;
}









/* CAROUSAL */

.owl-carousel {
}

.owl-nav {
}

.owl-prev  {
    position: absolute;
    left: 20px;
    bottom: 0px;
}
.owl-next {
    position: absolute;
    right: 20px;
    bottom: 0px;
}
.owl-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
/*    padding:30px;*/
}



#information {
    padding-bottom:50px;
    z-index: 0;
    background-color:black;
}


.wrapper {
    width: 100%;
    height: auto !important;
    white-space:nowrap;
    background-color:black;
    z-index: 9999;
    background-color:black;
}

.post{
    display:inline-block;
    vertical-align: top;
     white-space:normal;
/*    height: 100vh;*/
    height: calc(100% - 50px);
    height: -o-calc(100% - 50px); /* opera */
    height: -webkit-calc(100% - 50px); /* google, safari */
    height: -moz-calc(100% - 50px); /* firefox */
    
    min-width:100%;
    max-width:100%;
    max-height:100%;
/*    margin:20px;*/
}
.image-wrapper {
/*    position: relative;*/
/*    padding-bottom: 79.82%;*/
/*    height: calc(100% - 60px);*/
    max-width:100%;
    max-height:100%;
}
.image-wrapper img {
    display: block;
    margin: 0 auto;
    padding-top:50px;
    height: 100vh;
    
}








.image-caption {
    display:none;
    position:relative;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0);
/*    position: absolute;
    bottom: 30px;
    left: 0px;*/
    
    text-align: justify;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    width:80%;
/*    padding: 0 20%;*/
}




.image-caption > p {
/*    padding: 5px;*/
    margin: 10px;
    color: white;
    text-align:center;
}





.tagline {
    position: absolute;
    bottom:0px;
    left:60px;
/*    opacity:0.5;*/
}
.tagline > p {
/*    padding: 0;*/
    padding-bottom: 50px;
    padding-right: 40px;
    margin: 0;
    color: white;
}

@media screen and (max-width: 750px) {
    .tagline {
        display:none;
        
    }
}





















#links {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:rgba(128,128,128,0.2);
    z-index: 9999;
}
.link-info {
    color:white;
    text-align: center;
}
.link-info > p {
    padding:10px;
}

.link-info > .link-hide {
    display: none;
}
.link-expand > ul {
    text-align:left;
    padding: 20px;
    list-style-type: square;
}

    
    
.coneimg {
    position: absolute;
    left: -60%;
    width: 160%;
    
}
    
    

.infolinks {
    color: white;
    padding-top: 100px;
}
.infocaption {
        color:white;
/*    display: inline;
    position:relative;
    right: 50px;
    bottom: 50px;
*/
}

.infoheader {
    margin-left: 3em;
    cursor: pointer;
    list-style: none;
    padding-bottom:20px;
}
.infoheader:before {
  content: '\f078';
  font-family: 'FontAwesome';
  float: left;
  margin-left: -1.5em;
    color: #1a8cff;
/*  color: white-space: normal;;*/
}



.infoheader h3 {
    padding:0;
    margin: 0;
    color: #1a8cff;
}

.infoexpand {
margin-left: 2em;
margin-top: 0;
margin-bottom: 1em;
list-style-type: none;
font-size: medium;
cursor: pointer;
}

.infoexpand>li:before {
  content: '\f054';
  font-family: 'FontAwesome';
  float: left;
  margin-left: -1.5em;
  color: white-space: normal;;
}


