<footer>
  <div class="row">
    <div class="col-lg-12">
      <ul class="list-unstyled">
        <li class="pull-right">
          <p>
            2014<br/>
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
</footer>

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script>
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("active");
});
</script>
</body>
</html>