<footer>
  <div class="row">
    <div class="col-lg-12">
      <ul class="list-unstyled">
        <li class="pull-right">
          <p>
            <a href='https://dl.dropboxusercontent.com/u/7890/research/2014.07/ESO_July2014_v2.zip'>zip</a>
            <a href='https://dl.dropboxusercontent.com/u/7890/research/2014.07/ESO_July2014_v2.pdf'>pdf</a>
            2014<br/>
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
</footer>

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script>
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("active");
});
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22320868-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>